@import "variable";
@import "statusbar-submenu.less";

.ui-autocomplete {
    @acFocusBackground: #FF6347;

    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #CCCCCC;
    padding: 0;
    border-top-width: 0;

    .ui-menu-item {
        a {
            font-family: "Lato", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #000;
            border-radius: 0;
            -webkit-border-radius: 0;
            border: none;
            padding: 8px 12px;
            display: block;
            float: left;
            width: 100%;
            margin: 0;

            &:hover, &:focus, &:active {
                color: #FFFFFF;
                background-color: @acFocusBackground;
                border: none;
                margin: 0;
            }
        }
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        background-image: none;
        background-color: @acFocusBackground;
        color: #FFFFFF;
        margin: 0;
    }

    .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
        margin: 0;
        color: #FFFFFF;
    }
}

#_wrapper {
    .standardGradient();

    ._mojePanstwoCockpitMenuUp {
        display: none;
    }

    #home {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        padding-bottom: 1em;

        .header h1 {
            float: left;
            font-size: 19px;
            font-weight: 300;
            letter-spacing: 0.05em;
            line-height: 1.3em;
            text-align: center;
            margin: 1em 0;
            color: #F3F3F3;
            padding: 0 20px;
            width: 100%;

            strong {
                font-weight: 700;
            }
            span {
                font-weight: 300;
            }

            a.learnMore {
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
            }
        }

        .h2cont {
            padding: 0 40px;
        }

        h2 {
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 0.05em;
            line-height: 1.3em;
            color: lighten(#218AB6, 30%);
            border-bottom: 1px solid lighten(#218AB6, 0%);
            padding: 0 0 5px 5px;
            margin-bottom: 2em;
            margin-top: 2em;
            text-transform: uppercase;
            margin-left: 6.8%;
            width: 88.4%;
        }

        .globalSearch {
            @searchHeight: 45px;

            font-weight: 400;
            font-size: 18px;
            margin-bottom: 1em;
            color: #000000;

            .input-group {
                width: 100%;
                padding-right: 35px;

                input {
                    border-radius: 5px 0 0 5px;
                }

                .form-control,
                .input-group-btn button {
                    height: @searchHeight;
                    font-size: 16px;
                }
                .form-control {
                    color: #333;
                }

                .form-control::-webkit-input-placeholder {
                    color: #999;
                }

                .input-group-btn button {
                    color: #FFFFFF;
                    width: @searchHeight + 10;
                    height: @searchHeight;
                    display: block;

                    &.loading {
                        background: url(/img/loader/search-loading.png) center center no-repeat #5CB85C;

                        &:before {
                            content: ' ';
                        }
                    }
                }
            }
        }

        /*        .globalSearch {
                    @searchBackground: #026899;
                    @searchHeight: 44px;

                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 1em;

                    .input-group {
                        width: 100%;

                        .form-control,
                        .input-group-btn button {
                            height: @searchHeight;
                            color: #FFF !important;
                            font-size: 16px;

                        }
                        .form-control {
                            @iconColor: #026c99;
                            @iconColorShadow: #025A80;
                            @iconColorBorder: lighten(@iconColor, 1%);

                            border: 1px solid #02709E;
                            background-color: @searchBackground;
                            padding-right: @searchHeight;
                            width: 100%;
                            -moz-border-radius: 20px; *//*Firefox*//*
                            -webkit-border-radius: 20px; *//*Safari, Chrome*//*
                            border-radius: 20px;
                            font-size: 16px;

                        }

                        .form-control::-webkit-input-placeholder {
                            *//* WebKit browsers *//*
                            color: #BBB;
                        }
                        .form-control:-moz-placeholder {
                            *//* Mozilla Firefox 4 to 18 *//*
                            color: #BBB;
                        }
                        .form-control::-moz-placeholder {
                            *//* Mozilla Firefox 19+ *//*
                            color: #BBB;
                        }
                        .form-control:-ms-input-placeholder {
                            *//* Internet Explorer 10+ *//*
                            color: #BBB;
                        }

                        .input-group-btn {
                            position: inherit;

                            button {
                                position: absolute;
                                top: 0;
                                right: 2px;
                                background: none;
                                border-width: 0;
                                width: @searchHeight;
                                text-align: center;
                                color: #BBB;
                            }
                        }
                    }
                }*/

        .msg {
            text-align: center;
            font-weight: 300;
            color: #FFFFFF;
        }

        .apps ul {
            margin: 2em 0 0;
            padding: 0;
            list-style: none;

            &.buttons-group {
                list-style: none;
                margin-top: 20px;
                text-align: center;
                min-height: 34px;

                li {
                    list-style: none;
                    height: inherit;
                    margin-bottom: inherit;
                    display: inline;
                    margin-right: 10px;
                    margin-left: 10px;

                    a.btn {
                        background-color: #296D97;
                        border: 3px solid #296D97;
                        color: #FFF;

                        &:hover {
                            border-color: #218AB6;
                        }
                    }
                }
            }

            li {
                margin-bottom: 5em;
                height: 90px;
                padding-left: 0;
                padding-right: 0;

                .appContruct {
                    &.appFolder {
                        position: relative;
                        cursor: pointer;
                    }

                    @iconSize: 90px;
                    @iconColor: #026c99;

                    width: 100%;
                    display: block;
                    text-align: center;
                    color: #ffffff;

                    &:hover {
                        .appIcon {
                            border: 3px solid #218AB6;
                        }
                    }

                    .appIcon {
                        @iconColor: #026c99;

                        width: @iconSize;
                        height: @iconSize;
                        margin: 0 auto;
                        background-color: @iconColor;
                        border: 3px solid @iconColor;
                        -moz-border-radius: 50px; /*Firefox*/
                        -webkit-border-radius: 50px; /*Safari, Chrome*/
                        border-radius: 50px;

                        .innerIcon {
                            width: @iconSize;
                            height: @iconSize;
                            display: table-cell;
                            vertical-align: middle;
                        }

                    }

                    .appName {
                        margin-top: 20px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1em;
                        text-align: center;
                        color: #ffffff;
                    }
                }

            }
        }
    }
}