/* VARIABLE */
@headerHeight: 40px;
@footerHeight: 40px;
@linkColor: #157AB5;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

a {
    color: @linkColor;
}

/*SHOWING ERRORS FROM CAKEPHP HIDDEN UNDER HEADER*/
body > pre:first-child {
    margin-top: 50px;
}

.main_description {
    font-size: 14px;
    padding: 20px;
    margin-bottom: -30px;
    color: #666;
}

.separator {
    color: #DDD;
    padding: 0 5px;
}

.block {
    padding: 10px 20px;

    h2 {
        font-weight: 300;
    }

    h3 {
        font-weight: 300;

        .label {
            font-weight: bold;
            font-size: 11px;
            line-height: 1;
            position: relative;
            top: -3px;

            &.label-default {
                background-color: #AAA;
            }
        }
    }

    .subtitle {
        color: #777;
    }
}

.list-group.less-borders {
    margin-bottom: 0;
}

.list-group.less-borders .list-group-item {
    border: none;
    border-top: 1px solid #DDDDDD;

    &:first-child {
        border-top: none;
    }

    .list-group-item-heading {
        .wiek {
            font-size: 12px;
            color: #666;
        }
    }
}

.list-group.less-borders a.list-group-item {
    .list-group-item-heading {
        color: @linkColor;
    }
}

.badge {
    &.badge-data {
        background-color: #AAA;
    }
    &.badge-active {
        background-color: #5CB85C;
    }
}

.dataHighlights {

    margin-top: 10px;
    padding: 0 20px;

    .dataHighlight {

        padding: 5px;
        overflow: auto;

        ._label {
            font-size: 11px;
            margin: 0 0 3px;
            color: #999;
        }

        ._value {
            font-size: 12px;
            margin: 0;

            img {
                float: left;
                margin-right: 5px;
            }

            .add {
                display: none;
            }

        }

        .__autorzy_html_ul {
            font-size: 12px;
            margin: 0;
        }
    }

    &.inl {
        .dataHighlight {
            ._label {
                float: left;
                margin-right: 10px;
            }
        }
    }
}

.form-control {
    font-family: "Lato", sans-serif;
    color: #222;
    font-size: 14px;
}

.mpanel {
    background-color: #FFF;
}

.flash-message {
    .alert {
        padding: 8px 0 0 !important;
        font-size: 16px !important;
        font-weight: 300 !important;
    }

    .alert-info {
        background-color: #0078AC !important;
        color: #FFF !important;
    }

    .alert a, .alert .alert-link {
        font-weight: 400 !important;
        text-decoration: none !important;
    }
}

.col-lg-1.half {
    width: 4.1666666%;
}

&.normalizeText {
    &:first-letter {
        text-transform: uppercase;
    }
    text-transform: lowercase;
}

.indicators {

    margin: 10px 0;

    .indicator {

        text-align: center;

        ._value {
            font-size: 20px;
            font-weight: 200;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin-bottom: 0;
        }
        ._label {
            font-weight: 600;
            font-size: 13px;
            color: #777;
        }
    }
}

.form-control::-moz-placeholder {
    color: #444;
}

.form-control::-webkit-placeholder {
    color: #444;
}

.form-control::-placeholder {
    color: #444;
}

blockquote p {
    letter-spacing: 0.03em;
    line-height: 1.4;
}

.overflow-auto {
    overflow: auto;
}

/* FONTS */
@font-face {
    font-family: 'mojePanstwo';
    src: url('../fonts/mojePanstwo.eot');
    src: url('../fonts/mojePanstwo.eot?#iefix') format('embedded-opentype'), url('../fonts/mojePanstwo.ttf') format('truetype'), url('../fonts/mojePanstwo.woff') format('woff'), url('../fonts/mojePanstwo.svg#mojePanstwo') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ICONS */
[data-icon]:before {
    font-family: 'mojePanstwo';
    content: attr(data-icon);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon-after]:after {
    font-family: 'mojePanstwo';
    content: attr(data-icon-after);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL DECLARATION */
* {
    margin: 0;
}

.alert {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;

    border-width: 0;
    -moz-border-radius: 0px; /*Firefox*/
    -webkit-border-radius: 0px; /*Safari, Chrome*/
    border-radius: 0px;

}

html,
body {
    height: 100%;
}

.trimTitle {
    cursor: pointer;
    color: @linkColor;
}

/* GLOBAL HELPER CLASS */
._fullwidth {
    width: 100%;
}

/* ADDITIONAL COCKPITBAR ACTION */
/* SERACH BAR FOR PORTAL*/
._mojePanstwoCockpitSearch {
    float: left;
    height: 40px;

    ._mojePanstwoCockpitSearchContent {
        display: inline-block;
        position: relative;
        vertical-align: middle;

        ._mojePanstwoCockpitSearchContentButton {
            &.active {
                background-color: #3d3e42;
            }

            &._mojePanstwoCockpitIcons-search:before {
                font-family: 'mojePanstwo';
                content: "\e600";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        ._mojePanstwoCockpitSearchInput {
            @backgroundInput: #3d3e42;

            padding: 0;
            background-color: @backgroundInput;
            height: 60px;
            left: 0;
            position: fixed;
            top: 40px;
            z-index: 100;
            width: 100%;
            display: none;
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=@backgroundInput)"; /*IE 8*/
            -moz-box-shadow: 0 3px 3px @backgroundInput; /*FF 3.5+*/
            -webkit-box-shadow: 0 3px 3px @backgroundInput; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
            box-shadow: 0 3px 3px @backgroundInput; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=162, Color=@backgroundInput); /*IE 5.5-7*/

            &.focus, &.mainFocus {
                .mainSearch .searchFor {
                    background-color: #fff;

                    input {
                        background-color: #fff;
                        color: #2f2f2f;
                    }
                    button {
                        background: #0897d4;
                    }
                }
            }

            .searchFor {
                @inputColor: #222222;
                @inputSize: 43px;

                font-family: "Lato", sans-serif;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                margin-top: 8px;
                margin-bottom: 8px;
                padding: 0;
                height: 45px;
                background-color: #ffffff;
                border: 1px solid @backgroundInput;
                position: relative;

                input {
                    width: 100%;
                    height: @inputSize;
                    float: left;
                    border: none;
                    font-size: 18px;
                    color: @inputColor;
                    background-color: #fff;
                    font-weight: 400;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    width: @inputSize * 1.5;
                    height: @inputSize;
                    border: none;
                    font-size: 28px;
                    text-align: center;
                    cursor: pointer;
                    color: #FFF;
                    padding: 3px;

                    &:before {
                        font-family: 'mojePanstwo';
                        content: "\e600";
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
        }
    }
}

/* FIRST STRUCTURE SETUP */
#_wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -@footerHeight; /* the bottom margin is the negative value of the footer's height */
    padding-top: 40px;
    background-color: #EEE;

    &.white {
        background-color: #FFF;
    }

    &.grey {
        background-color: #EEE;
    }

    header {
        width: 100%;
        height: @headerHeight;
    }

    #_sizeControl {
        height: @footerHeight;
    }

    #_main {
        width: 100%;
        height: 100%;
    }
}

footer {
    @footerColor: #999;

    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    color: @footerColor;
    position: relative;
    width: 100%;
    height: @footerHeight;
    padding: (@footerHeight/2)-6 0;
    background-color: #222222;

    a {
        color: @footerColor;

        &:hover {
            color: #428bca;
        }
    }

    .pull-left {
        text-align: left;
    }
    .pull-right {
        text-align: right;
    }

    .separator {
        padding: 0 10px;
        text-align: center;
        color: darken(@footerColor, 15%);
    }
}