.newLayout {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    h1 {
        font-size: 46px;
        font-weight: 300;
        letter-spacing: 1.8px;
    }
    h2 {
        font-size: 40px;
        font-weight: 400;
    }
    h3 {
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
    }
    h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
    h5 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.2px;

        &.small {
            font-size: 11px;
            font-weight: 400;
            line-height: 14px;
        }
    }

    .submenu {
        font-size: 18px;
        font-weight: 300;
    }

    .search {
        height: 46px;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 400;
    }

    .button {
        &.big {
            height: 46px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 400;
        }
        &.medium {
            height: 35px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
