#reportBug .content {
    @marginSpace: 4em;

    margin-top: @marginSpace;
    margin-bottom: @marginSpace;
    text-align: center;
    font-family: "Lato", sans-serif;

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 22px;
        font-weight: 400;
        text-align: justify;
        margin-top: 0;
        margin-bottom: 3em;
    }

    > .separator {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        margin-top: 3em;
        margin-bottom: 4em;
        display: inline-block;
        border-bottom: 2px solid #CCCCCC;
        height: 12px;

        > span {
            background-color: #EEEEEE;
            padding: 0 15px;
        }
    }

    .panel {
        float: left;
        width: 100%;

        .panel-body {
            margin-right: 5em;

            label {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    #reportBug .content .panel .panel-body {
        margin-right: 0;
    }
}