@menuBackgroundColorTop: #006cac;
@menuBackgroundColorMiddle: #0078ac;
@menuBackgroundColorBottom: #004f94;

.standardGradient() {
    background: #016ba9;
    background: -moz-linear-gradient(top, @menuBackgroundColorTop 0%, @menuBackgroundColorMiddle 50%, @menuBackgroundColorBottom 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @menuBackgroundColorTop), color-stop(50%, @menuBackgroundColorMiddle), color-stop(99%, @menuBackgroundColorBottom));
    background: -webkit-linear-gradient(top, @menuBackgroundColorTop 0%, @menuBackgroundColorMiddle 50%, @menuBackgroundColorBottom 99%);
    background: -o-linear-gradient(top, @menuBackgroundColorTop 0%, @menuBackgroundColorMiddle 50%, @menuBackgroundColorBottom 99%);
    background: -ms-linear-gradient(top, @menuBackgroundColorTop 0%, @menuBackgroundColorMiddle 50%, @menuBackgroundColorBottom 99%);
    background: linear-gradient(to bottom, @menuBackgroundColorTop 0%, @menuBackgroundColorMiddle 50%, @menuBackgroundColorBottom 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@menuBackgroundColorTop', endColorstr='@menuBackgroundColorBottom', GradientType=0);
}